@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
    font-family: 'Roboto', 'sans-serif';
    margin: auto;
}


header {
    font-family: 'Roboto', 'sans-serif';
    background-color: #EAC926;
}

main form div input,
button {
    width: 60%;
}

input {
    border-radius: 7px 7px 7px 7px;
    border-color: white;
}

form {
    padding: 5% 10%;
    text-align: center;
    line-height: 3;
}


button {
    background-color: #1259c3;
    color: white;
}

button:hover {
    background-color: #0022AA;
}

.img-mercadoliebre {
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    padding: 1.2rem;
    width: 100%;
}

.img-banner {
    width: 100vw;
    height: auto;
    margin-bottom: -4px;
    cursor: pointer;
}


p {
    font-size: 12px;
}

ul {
    font-weight: bold;
}


header i {
    margin-left: 0%;
}

.burguer-menu {
    text-align: center;
    margin-bottom: 20px;
}

.icono-burguer-menu {
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    border: 1px #1259c3 solid;
    padding: 0.6rem;
    font-size: 1.4rem;
}

.footer-flex-box h2 {
    font-size: 16px;
    font-weight: 700;
}

.footer-flex-box p {
    font-size: 12px;
    font-weight: 600;
}

footer {
    text-align: center;
}

footer i:hover {
    color: #f8c572;
}

footer i {
    font-size: 2em;
    margin: 10px;
    color: #1259c3;
}

section h2 {
    text-align: center;
}


main {
    background-color: #ebebeb;
}


nav {
    display: none;
}

* {
    box-sizing: border-box;
}

#top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 45%;
}

.input-header {
    width: 100%;
    display: inline;
    font-size: 13px;
    border: none;

}

.form-header {
    width: 45%;
    background-color: white;
    align-self: center;
    display: flex;
    border-radius: 5px;
    height: 33px;
    padding: 4px;

}

#header-p-compra-en-cuotas {
    width: 100%;
    text-align: center;
}

header section i {
    margin: auto;
}




/* breakpoint tablet 481px */

@media (min-width: 481px) {
    nav {
        display: block;
        text-align: left;
    }

    .burguer-menu {
        display: none;
    }

    .nav-encabezado {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .nav-encabezado-listas {
        display: flex;
        flex-direction: row;
        width: 40%;
        text-align: center;
        justify-content: space-around;
    }

    .header-navbar-padding {
        padding-right: 5%;
    }

    header nav ul li {
        font-size: 80%;
    }

    .logo {
        width: 30%;
    }

    .form-header {
        width: 30%;
    }

    #header-p-compra-en-cuotas {
        width: 30%;
    }
}


/* breakpoint compu escritorio 1024px */

@media (min-width: 1024px) {

    .nav-encabezado {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .nav-encabezado-listas {
        display: flex;
        flex-direction: row;
        width: 40%;
        text-align: center;
        justify-content: space-around;
    }

    header nav ul li {
        font-size: 80%;
    }


    .header-navbar-padding {
        padding-right: 5%;
        white-space: nowrap;
    }

    .footer-flex-box div {
        width: 32%;
        height: auto;
    }

    .footer-flex-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}