@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
    font-family: 'Roboto', 'sans-serif';
    margin: auto;
}


header {
    font-family: 'Roboto', 'sans-serif';
    background-color: #EAC926;
    ;
}


.img-mercadoliebre {
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    padding: 1.2rem;
    width: 100%;
}

.img-banner {
    width: 100vw;
    height: auto;
    margin-bottom: -4px;
    cursor: pointer;
}

.tamaño-titulares {
    font-size: 24px;
}

p {
    font-size: 12px;
}

#ul {
    margin-bottom: 0px
}

ul {
    font-weight: bold;
}


.precio {
    font-size: 18px;
    padding-right: 10px;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
}

.descripcion {
    font-size: 16px;
    display: none;
}


header i,
main i {
    margin-left: 0%;
}

.burguer-menu {
    text-align: center;
    margin-bottom: 20px;
}

.icono-burguer-menu {
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    border: 1px #1259c3 solid;
    padding: 0.6rem;
    font-size: 1.4rem;
}

.footer-flex-box h2 {
    font-size: 16px;
    font-weight: 700;
}

.footer-flex-box p {
    font-size: 12px;
    font-weight: 600;
}


article {
    background-color: white;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    margin-bottom: 10px;
}



article:hover .descripcion {
    display: block;
    font-size: 16px;
}


footer {
    text-align: center;
}

footer i:hover {
    color: #f8c572;
}

footer i {
    font-size: 2em;
    margin: 10px;
    color: #1259c3;
    ;
}

section h2 {
    text-align: center;
}

#basado-en-tu-ultima-visita {
    margin: 0;
    padding: 20px 0px;
    font-weight: bold;
    text-align: left;
    margin-left: 2%;
    color: #666;
    font-weight: 600;
}

main {
    background-color: #ebebeb;
}

main img {
    width: 100%;
    height: auto;
    cursor: pointer;
}



main section article i {
    color: #39b54a;

}

main section article div i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    z-index: 100;
    transition: all 0.8s;
}

article:hover i {
    transform: rotate(-90deg);
}


.border-article {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    text-align: left;
    background-color: white;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
    cursor: pointer;


}

nav {
    display: none;
}

* {
    box-sizing: border-box;
}

main section {
    margin: auto;
    width: 90%;
    background-color: #ebebeb;
}

.precio-descuento {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
}

article:hover main section article div i {
    transform: rotate(90deg);
}

#top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 45%;
}

.input-header {
    width: 100%;
    display: inline;
    font-size: 13px;
    border: none;

}

.form-header {
    width: 45%;
    background-color: white;
    align-self: center;
    display: flex;
    border-radius: 5px;
    height: 33px;
    padding: 4px;

}

#header-p-compra-en-cuotas {
    width: 100%;
    text-align: center;
}

header section i {
    margin: auto;
}


/* breakpoint tablet 481px */

@media (min-width: 481px) {

    article {
        width: 40%;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }

    nav {
        display: block;
        text-align: left;
    }

    .burguer-menu {
        display: none;
    }

    .div-articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nav-encabezado {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .nav-encabezado-listas {
        display: flex;
        flex-direction: row;
        width: 40%;
        text-align: center;
        justify-content: space-around;
    }

    .header-navbar-padding {
        padding-right: 5%;
    }

    header nav ul li {
        font-size: 80%;
    }

    .logo {
        width: 30%;
    }

    .form-header {
        width: 30%;
    }

    #header-p-compra-en-cuotas {
        width: 30%;
    }

}


/* breakpoint compu escritorio 1024px */

@media (min-width: 1024px) {
    article {
        width: 20%;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }

    .div-articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nav-encabezado {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .nav-encabezado-listas {
        display: flex;
        flex-direction: row;
        width: 40%;
        text-align: center;
        justify-content: space-around;
    }

    .header-navbar-padding {
        padding-right: 5%;
    }

    header nav ul li {
        font-size: 80%;
    }


    .header-navbar-padding {
        white-space: nowrap;
        padding-right: 5%;
    }

    .footer-flex-box div {
        width: 32%;
        height: auto;
    }

    .footer-flex-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}