<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <section id="top-header">
            <div class="logo">
                <a href="/"><img src="\img\logo-mercado-liebre.svg" alt="Logo mercado liebre"
                        class="img-mercadoliebre"></a>
            </div>
            <form action="/" method="get" class="form-header">
                <input type="search" placeholder="Buscar productos, marcas..." name="buscador" class="input-header" />
                <i class="fas fa-search"></i>
            </form>
            <section id="header-p-compra-en-cuotas">
                <p> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
                    tarjeta de
                    crédito</p>
            </section>
        </section>   
                <nav>
                    <div class="nav-encabezado">
                        <ul class="nav-encabezado-listas">
                            <li type="none" class="header-navbar-padding"><a href="#">Ofertas</a></li>
                            <li type="none" class="header-navbar-padding"><a href="#">Tiendas Oficiales</a></li>
                            <li type="none" class="header-navbar-padding"><a href="#">Vender</a></li>
                            <li type="none" class="header-navbar-padding"><a href="#">Ayuda</a></li>

                        </ul>

                        <ul id="ul" class="nav-encabezado-listas">
                            <li type="none" class="header-navbar-padding"><a href="./registro">Creá Tu Cuenta</a> <i
                                    class="fas fa-id-card"></i></li>
                            <li type="none" class="header-navbar-padding"><a href="./login">Ingresá</a> <i
                                    class="fas fa-sign-in-alt"></i></li>
                            <li type="none" class="header-navbar-padding"><a href="#">Mis compras</a> <i
                                    class="fas fa-shopping-basket"></i></li>
                        </ul>
                    </div>
                </nav>
                <div class="burguer-menu">
                    <i class="fas fa-bars icono-burguer-menu"></i>
                </div>
                <img src="/img/img-home-banner.jpg" class="img-banner">
    </header>
    <main>
        <section>
            <h2 class="tamaño-titulares" id="basado-en-tu-ultima-visita">Basado en tu última visita</h2>
            <div class="div-articles">
                <article>
                    <img src="\img\img-cafetera-moulinex.jpg" height=150px>
                    <br>
                    <div class="border-article">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src="\img\img-macbook-pro-2019.jpg" height=150px>
                    <br>
                    <div class="border-article">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img src="\img\img-samsung-galaxy-s10.jpg" height="150px">
                    <br>
                    <div class="border-article">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img src="\img\img-tv-samsung-smart.jpg" height=" 150px">
                    <br>
                    <div class="border-article">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h2 class="tamaño-titulares">Ofertas</h2>
            <div class="div-articles">
                <article>
                    <img src="\img\img-cafetera-moulinex.jpg" height=150px>
                    <br>
                    <div class="border-article">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src="\img\img-macbook-pro-2019.jpg" height=150px>
                    <br>
                    <div class="border-article">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img src="\img\img-samsung-galaxy-s10.jpg" height="150px">
                    <br>
                    <div class="border-article">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img src="\img\img-tv-samsung-smart.jpg" height=" 150px">
                    <br>
                    <div class="border-article">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-flex-box">
            <div>
                <i class="fas fa-credit-card"></i>
                <h2> Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin <br>
                    interés con tarjeta o efectivo en
                    puntos de <br>
                    pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre <br>
                    tenés envíos gratis en miles de
                    productos. Es <br>
                    un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h2> Seguridad de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre <br>
                    no hay nada que no puedas hacer
                    porque <br>
                    estás siempre protegid@.</p>
            </div>
        </div>
        <h2> Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
    </footer>
</body>

</html>