<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <section id="top-header">
            <div class="logo">
                <a href="/"><img src="\img\logo-mercado-liebre.svg" alt="Logo mercado liebre"
                        class="img-mercadoliebre"></a>
            </div>
            <form action="/" method="get" class="form-header">
                <input type="text" placeholder="Buscar productos, marcas..." name="buscador" class="input-header" />
                <i class="fas fa-search"></i>
            </form>
            <section id="header-p-compra-en-cuotas">
                <p> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
                    tarjeta de
                    crédito</p>
            </section>
        </section>    
        <nav>
            <div class="nav-encabezado">
                <ul class="nav-encabezado-listas">
                    <li type="none" class="header-navbar-padding"><a href="#">Ofertas</a></li>
                    <li type="none" class="header-navbar-padding"><a href="#">Tiendas Oficiales</a></li>
                    <li type="none" class="header-navbar-padding"><a href="#">Vender</a></li>
                    <li type="none" class="header-navbar-padding"><a href="#">Ayuda</a></li>

                </ul>

                <ul id="ul" class="nav-encabezado-listas">
                    <li type="none" class="header-navbar-padding"><a href="./registro">Creá Tu Cuenta</a> <i
                            class="fas fa-id-card"></i></li>
                    <li type="none" class="header-navbar-padding"><a href="./login">Ingresá</a> <i
                            class="fas fa-sign-in-alt"></i></li>
                    <li type="none" class="header-navbar-padding"><a href="#">Mis compras</a> <i
                            class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>
        </nav>
        <div class="burguer-menu">
            <i class="fas fa-bars icono-burguer-menu"></i>
        </div>
        <img src="/img/img-home-banner.jpg" class="img-banner">
    </header>
    <main>
        <form action="/" method="post" enctype="multipart/form-data">
            <section>
                <br>
                <div>
                    <input type="text" name="nombre-y-apellido" title="Inserte su nombre y apellido"
                        placeholder="Nombre y apellido" class="input-borde-redondeado" required>
                </div>
                <div>
                    <input type="text" name="nombre-de-usuario" title="Indique su nombre de usuario"
                        placeholder="Nombre de usuario" class="input-borde-redondeado" required>
                </div>
                <div>
                    <input type="email" name="email" title="Inserte un E-mail válido" id="email" placeholder="E-mail"
                        class="input-borde-redondeado" required>
                </div>
                <div>
                    <label for="fecha">Fecha de nacimiento</label>
                    <br>
                    <input type="date" name="fecha" title="Indique su fecha de nacimiento" id="fecha"
                        placeholder="mm/dd/yyyy" class="input-borde-redondeado" required>
                </div>
                <div>
                    <input type="text" name="domicilio" title="Indique su domicilio: nombre calle y numeración"
                        id="domicilio" placeholder="Domicilio" class="input-borde-redondeado" required>
                </div>
                <div>
                    <label for="Perfil-usuario">Perfil del usuario</label>
                    <br>
                    <input type="radio" name="perfil-del-usuario" id="comprador" value="comprador" checked>
                    <label for="comprador">Comprador</label>
                    <input type="radio" name="perfil-del-usuario" id="vendedor" value="Vendedor">
                    <label for="vendedor">Vendedor</label>
                </div>
                <div>
                    <label>Intereses</label>
                    <br>
                    <input type="checkbox" name="intereses" id="electro" title="electro" checked>
                    <label for="electro">Electro</label>
                    <br>
                    <input type="checkbox" name="intereses" id="moda" title="moda">
                    <label for="moda">Moda</label>
                    <br>
                    <input type="checkbox" name="intereses" id="hogar" title="hogar">
                    <label for="hogar">Hogar</label>
                    <br>
                    <input type="checkbox" name="intereses" id="juguetería" title="juguetería">
                    <label for="juguetería">Juguetería</label>
                    <br>
                    <input type="checkbox" name="intereses" id="vida-sana" title="vida sana">
                    <label for="vida-sana">Vida sana</label>
                </div>
                <div>
                    <label for="foto-usuario">Foto usuario</label>
                    <br>
                    <input type="file" name="foto-usuario" id="foto-usuario"
                        title="Adjunte foto personal que se pueda ver bien el rostro" accept=".jpg, .pdf" required>
                </div>
                <div>
                    <input type="password" name="contraseña"
                        title="Debe contener al menos 8 digitos y max 25 digitos, que incluya una letra mayúscula, una minúscula y un número"
                        placeholder="Contraseña" minlength="8" maxlength="25" required>
                </div>
                <div>
                    <input type="password" name="confirmacion-contraseña"
                        title="Debe coincidir con la contraseña anterior" placeholder="Repetir contraseña" minlength="8"
                        maxlength="25" required>
                </div>
                <div>
                    <button type="submit"> Enviar </button>
                </div>
                <div>
                    <button type="reset" value="Enviar datos"> Borrar </button>
                </div>
            </section>
        </form>
    </main>
    <footer>
        <div class="footer-flex-box">
            <div>
                <i class="fas fa-credit-card"></i>
                <h2> Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin <br>
                    interés con tarjeta o efectivo en
                    puntos de <br>
                    pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre <br>
                    tenés envíos gratis en miles de
                    productos. Es <br>
                    un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h2> Seguridad de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre <br>
                    no hay nada que no puedas hacer
                    porque <br>
                    estás siempre protegid@.</p>
            </div>
        </div>
        <h2> Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
    </footer>

</body>

</html>